<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card my-5 border border-1 shadow-lg rounded" style="background-color: rgb(236, 242, 244)">
        <div class="card-body">
          <div class="d-flex justify-content-center">
            <img src="../../../../../assets/images/authentication/logo.png" alt="logo" style="width: 300px; height: auto" />
          </div>
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header">
                <h2 class="text-secondary"><b>Hi, Welcome Back</b></h2>
                <p class="fs-4 mt-2">Enter your credentials to continue</p>
              </div>
            </div>
          </div>
          <form>
            <div class="form-floating position-relative mb-3">
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="name@example.com"
                autocomplete="username"
                [(ngModel)]="user.email"
              />
              <label for="email">Email address / User name</label>
              <i
                class="bi bi-envelope-at"
                style="position: absolute; right: 30px; top: 50%; transform: translateY(-50%); color: #6c757d; font-size: 18px"
              ></i>
            </div>

            <div class="form-floating position-relative mt-2">
              <input
                class="form-control"
                id="password"
                name="password"
                placeholder="Password"
                autocomplete="current-password"
                [type]="showPassword ? 'text' : 'password'"
                [(ngModel)]="user.password"
              />
              <label for="password">Password</label>
              <!-- Move click handler to the button -->
              <button
                type="button"
                class="password-toggle"
                id="passwordToggle"
                (click)="togglePasswordVisibility()"
                style="position: absolute; right: 30px; top: 50%; transform: translateY(-50%); background: none; border: none"
              >
                <i
                  class="bi"
                  [class.bi-eye]="!showPassword"
                  [class.bi-eye-slash]="showPassword"
                  style="font-size: 20px; color: #6c757d"
                ></i>
              </button>
            </div>
            <div class="options-container">
              <div class="form-check">
                <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked="" />
                <label class="form-check-label text-muted" for="customCheckc1">Remember me</label>
              </div>
              <h5 class="text-secondary">
                <a href="javascript:">Forgot Password?</a>
              </h5>
            </div>

            <button type="submit" (click)="login()" class="btn btn-primary w-100 py-2">Sign In</button>
          </form>
          <h5 class="d-flex justify-content-center mt-3">
            <a [routerLink]="['/register']">Don't have an account?</a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
